.cover__subtitle {
    margin: 32px auto 0 auto;
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #FFFFFF;

}

/* Making smaller text here (320px alike) here, bc font-size of 18px would too much space */
@media screen and (max-width: 722px) {
    .cover__subtitle {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 0 auto;
        padding: 0 25% 0 25%;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 396px) {
    .cover__subtitle {
        padding: 0 20% 0 20%;
    }
}