.lead__title {
    margin: 56px 0 0 0;
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1024px) {
    .lead__title{
        margin: 48px 0 0 0;
    }
}

@media screen and (max-width: 735px) {
    .lead__title{
        width: 100%;
        padding: 0 6% 0 6%;
        box-sizing: border-box;
        font-size: 55px;
        line-height: 60px;
    }
}

@media screen and (max-width: 444px) {
    .lead__title {
        margin: 48px 16px 0 16px;
        padding: 0;
        font-size: 40px;
        line-height: 44px;
    }
}
