.footer__copyright {
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;

    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 16px;
    }
}