.lead__subtitle {
    margin: 32px 0 0 0;
    width: 640px;
    font-weight: 400;
    color: white;
    font-size: 30px;
    line-height: 36px;
    overflow-wrap: anywhere;
    text-align: center;
}

@media screen and (max-width: 722px) {
    .lead__subtitle{
        width: auto;
        font-size: 19px;
        line-height: 22px;
        padding: 0 6% 0 6%;
    }
}

@media screen and (max-width: 390px) {
    .lead__subtitle {
        margin: 16px 16px 0 16px;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
    }
}
