.lead__subtitle {
    margin: 32px 0 0 0;
    width: 640px;
    font-weight: 400;
    color: white;
    font-size: 30px;
    line-height: 36px;
    overflow-wrap: anywhere;
    text-align: center;
}

/* @media screen and (max-width: 768px) {
    .lead__subtitle{
        width: 100%;
        font-size: 3.9vw;
    }
} */

@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin: 16px 16px 0 16px;
        width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}
