.cover {
    width: 1184px;
    margin: 92px auto 0 auto;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .cover {
        width: 100%;
        box-sizing: border-box;
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 16px auto 0 auto; 
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
}