.cover {
    width: 1184px;
    display: grid;
    box-sizing: border-box;
    padding: 12px auto 0 auto;
    margin: 0 auto;

}

@media screen and (max-width: 1280px) {
    .cover {
        width: 100%;
        padding: 12px 48px 0 48px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 12px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 16px auto 0 auto;
        padding: 0;
    }
}