.cover__title {
    margin: 0 auto;
    width: 720px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    text-align: center;

    color: #FFFFFF;
}

/* Making smaller text here (320px alike) here, bc font-size of 72px would too much space */
@media screen and (max-width: 735px) {
    .cover__title {
        width: 320px;
        font-size: 32px;
        line-height: 35px;
    }
}