.footer {
    margin: 0 auto;
    padding: 92px 0 24px 0;
    box-sizing: border-box;
    width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .footer {
        margin: 0;
        width: 100%;
        padding: 92px 48px 24px 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 92px 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 64px 16px 24px 16px;
        flex-direction: column;
    }
}